@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refresh {
  animation: spin 2s linear infinite;
  margin-bottom: 2rem;
}

img {
  width: 35% !important;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  img {
    display: none;
  }
}

div.card-body {
  display: flex !important;
}

div.card-content {
  display: grid;
  padding: 0 1rem;
}
